@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    margin: 0;
    background-color: rgb(0, 0, 0);
}

.body {
    width: 100vw;
    height: 100vh;
    position: relative;
    /* background: black; */
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;

}

.body::before {
    content: " ";
    position: absolute;
    max-width: 100%;
    margin: 0px auto;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
    background-image: url("../assets/images/encryptionImg.jpg");
    object-fit: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

#title {
    margin: 15%;
    color: aliceblue;
    display: block;
    z-index: 10;
    margin: auto;
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 50px;
    font-style: normal;
}

#dragDrop {
    box-sizing: border-box;
    width: 40%;
    height: 40%;
    min-height: fit-content;
    /* max-height: fit-content; */

    margin: auto;
    border: 2px solid snow;

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;

    color: rgb(255, 255, 255);
    text-align: center;
}

#dragDrop button {
    font-size: 20px;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
}

#dragDrop img {
    display: block;
    max-height: 50%;
    margin: auto;
}


#progressBarDiv {
    box-sizing: border-box;
    display: block;
    border: 1px solid white;
    border-radius: 5px;
    max-height: fit-content;
    min-height: fit-content;
    width: 100%;

}

#progressBarDiv span {
    z-index: 1;
    display: block;
    position: absolute;
}

#progressBar {
    display: block;
    border-radius: 4px;
    background-color: rgb(0 255 191);
    width: 100%;
    height: 15px;
}

#progressBar div {
    margin-bottom: 5%;
}


#lockKeyInput {
    box-sizing: border-box;
    display: block;
    width: 60%;
    /* min-height: fit-content; */
    /* max-height: fit-content; */

    margin-top: 10px;
    /* border: 2px solid rgb(255, 0, 0); */

} 

#lockKeyInput {
    box-sizing: border-box;
    display: inline-block;

    min-height: 30px;
    width: 70%;
    
    /* margin: auto; */
    padding: 0px 15px 0px 15px;

    border: 0;
    border-radius: 15px;
    
    /* border-top-left-radius: 15px;
    border-bottom-left-radius: 15px; */
    
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    
    color: rgb(0, 0, 0);
    text-align: center;
    outline: 0;

}

#lockKeyInput::placeholder{
    font-size: 15px;
}

.button {
    display: block;
    background-color: rgb(220, 220, 220);
    padding: 4px 20px;
    margin: auto;
    margin-top: 20px;
    width: fit-content;
    color: black;
    font-weight: bolder;
    border-radius: 5px;
}

.button:active {
    background-color: rgb(201, 201, 201);
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    animation-duration: 0.05ms;
}

/* #lockKeyInput button:active {
    background-color: rgb(255, 0, 0);
    color: rgb(143, 142, 142);
    animation-duration: 0.15ms;
} */

.cursor:hover {
    cursor: pointer;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.m-auto {
    margin: auto;
}

.w-70 {
    width: 70%;
}